html,
body {
  overflow: hidden;
  overscroll-behavior-y: none;
}

html {
  height: stretch;
}

body {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 90);
  overflow: hidden;
  min-height: stretch;
}

.ant-list-vertical {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.ant-spin-nested-loading {
  overflow: auto;
}
