html,
body {
  overflow: hidden;
  overscroll-behavior-y: none;
}

html {
  height: stretch;
}

body {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 90);
  overflow: hidden;
  min-height: stretch;
}

* {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* #region Antd Overrides */

.ant-card .ant-card-actions > li {
  margin: 0;
}

.ant-card .ant-card-actions .ant-btn {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.ant-list-footer {
  padding-inline: 0 !important;
  padding: 0 !important;
}

.ant-list-footer .ant-input-affix-wrapper {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

textarea.ant-input {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.ant-list-vertical {
  display: flex;
  flex-direction: column;
}

.ant-spin-nested-loading {
  overflow: auto;
  flex: 1;
}

.ant-list-split .ant-list-item {
  border-block-end: none;
}

.ant-badge .ant-scroll-number-only-unit {
  color: rgba(255, 255, 255, 0.85) !important;
}
/* #endregion */

/* #region Animations */
@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 600px 0;
  }
}

.animation__shimmer__red {
  animation: shimmer 4s linear infinite forwards;
  background-image: linear-gradient(
    to right,
    #ff000011 0%,
    #ff000022 50%,
    #ff000011 100%
  );
}

.animation__shimmer__blue {
  animation: shimmer 4s linear infinite forwards;
  background-image: linear-gradient(
    to right,
    #1668dc22 0%,
    #1668dc44 50%,
    #1668dc22 100%
  );
}

.animation__shimmer__purple {
  animation: shimmer 4s linear infinite forwards;
  background-image: linear-gradient(
    to right,
    #8c5ed222 0%,
    #8c5ed244 50%,
    #8c5ed222 100%
  );
}

/* #endregion */
